/* Estilos generales */
body {
  font-family: 'Satisfy', cursive;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #ff6b6b, #ffa7a7);
  color: #fff;
}

header {
  background-color: #ff6b6b;
  padding: 30px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 0;
  font-size: 36px;
  animation: pulse 2s infinite;
}

main {
  padding: 20px;
}

.photos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-wrapper {
  width: 90%; /* Ancho adecuado para móviles */
  margin: 10px 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.photo {
  width: 100%; /* Ajusta la foto para ocupar el ancho completo del contenedor */
  height: auto;
  object-fit: cover;
}

.message {
  font-size: 16px;
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para destacarlo */
  border-radius: 5px;
  width: 90%;
}


/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1000;
}

.bomb-container {
  text-align: center;
  position: relative;
  z-index: 10;
}

.bomb {
  width: 80px;
  height: 80px;
  background-color: #333;
  border-radius: 50%;
  margin: 0 auto;
}

.fuse {
  width: 2px;
  height: 40px;
  background-color: #ff6b6b;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  animation: burn 10s linear forwards;
}

.countdown-number {
  font-size: 48px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}

/* Lluvia de corazones */
.hearts-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 5;
}

.heart {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: transparent;
  color: red;
  font-size: 25px;
  animation: fall 4s infinite ease-in;
}

@keyframes fall {
  0% {
    transform: translateY(-100px);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

/* Animación de quema de la mecha */
@keyframes burn {
  0% { height: 40px; }
  100% { height: 0; }
}

/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.modal-photo {
  max-width: 90vw;
  max-height: 90vh;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
}
